body
{
background-color:black;
}

#wrapper
{
background-image:url("images/n1.jpg");
margin: 0 auto;
position: relative;
width:1200px;
height:652px;
}

.log
{
position:absolute;
margin-top:200px;
margin-left:250px;
}

.box1
{
background-image:url("images/piano.png");
background-color:white;
width:200px;
height:480px;
padding:10px;
top:30px;
left:0px;
opacity:0.9;
position:absolute;
border:0px solid black;
}

.link1
{

padding:10px;
top:05px;
left:160px;
position:absolute;
font-size:20px;
}

.link2
{

padding:10px;
top:60px;
left:145px;
position:absolute;
font-size:20px;
}

.link3
{

padding:10px;
top:110px;
left:130px;
position:absolute;
font-size:20px;
}
.link4
{

padding:10px;
top:155px;
left:155px;
position:absolute;
font-size:20px;
}
.link5
{

padding:10px;
top:205px;
left:162px;
position:absolute;
font-size:20px;
}
.link6
{

padding:10px;
top:250px;
left:160px;
position:absolute;
font-size:20px;
}
.link7
{

padding:10px;
top:300px;
left:150px;
position:absolute;
font-size:20px;
}
.link8
{

padding:10px;
top:350px;
left:160px;
position:absolute;
font-size:20px;
}
.link9
{

padding:10px;
top:390px;
left:160px;
position:absolute;
font-size:20px;
}
.link10
{

padding:10px;
top:440px;
left:160px;
position:absolute;
font-size:20px;
}

a:link {text-decoration:none;color:black;}
a:visited {text-decoration:none;color:black;}
a:hover {text-decoration:underline;color:black;}
a:active {text-decoration:none;color:black;}

a.n:link {text-decoration:none; color:black;}
a.n:visited {text-decoration:none;color:black;}
a.n:hover {background-color:#00BFFF; color:black}
a.n:active {background-color:#00BFFF;color:black;}


.box2
{
background-color:white;
width:770px;
height:310px;
padding:10px;
opacity:0.9;
top:160px;
left:230px;
position:absolute;
border:3px solid black;
border-radius:25px;
-moz-border-radius:25px;
}

.box3
{
background-color:white;
width:100px;
height:100px;
padding:10px;
opacity:0.8;
top:350px;
left:1035px;
position:absolute;
border:2px solid black;
border-radius:25px;
-moz-border-radius:25px;
}
.login
{
background-color:white;
width:95px;
height:20px;
padding:10px;
opacity:0.8;
top:0px;
right:0px;
position:absolute;
border:2px solid black;
border-radius:25px;
-moz-border-radius:25px;
text-align:center;
}

.upload
{
background-color:white;
width:95px;
height:20px;
padding:10px;
opacity:0.8;
top:45px;
right:0px;
position:absolute;
border:2px solid black;
border-radius:25px;
-moz-border-radius:25px;
text-align:center;
}

.heading
{
background-color:black;
color:white;
width:300px;
height:30px;
padding:10px;
opacity:0.6;
top:110px;
left:470px;
position:absolute;
border:1px solid black;
border-radius:25px;
-moz-border-radius:25px;
text-align:center;
font-size:30px;
}

.search
{

top:50px;
left:570px;
position:absolute;

}


.name
{
width:300px;
height:30px;
padding:10px;
top:05px;
left:280px;
position:absolute;
}


.box4
{
background-color:black;
width:928px;
height:26px;
padding:10px;
opacity:0.6;
color:red;
margin-top:580px;
margin-left:248px;
position:absolute;
border:2px solid gray;
}

.mp3
{
position:fixed;
margin-left:0px;
margin-top:580px;
}

.browse
{
color:white
width:480px;
height:70px;
top:500px;
margin-left:300px;
position:absolute;
}

.ov
{

width:750px;
height:300px;
padding:10px;
top:175px;
margin-left:310px;
position:absolute;
overflow:scroll;
}

.ovp
{

width:750px;
height:275px;
padding:10px;
top:200px;
margin-left:310px;
position:absolute;
overflow:scroll;
}

table
{
width:100%;
text-align:center;
border-collapse:collapse;
table-layout:fixed;
}
td{
width:05%;
}
